$colors: (
    background: #2c3539,
    primary: #e53935,
    secondary: #51ffbd,
    accent: whitesmoke
);

@function color($arg) {
    @return map-get($colors, $arg);
}

// Start Styling:

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: color(background);
}

.cover-img {
    width: 100%;
    height: auto;
    z-index: -1;
}

#logo {
    position: sticky;
}

#logo img {
    width: 4rem;
    
    &:hover {
        transition: all .5s ease-in-out;
        opacity: .5;
    }
}

.nav-bar-left {
    display: flex;
    position: absolute;
    top: 0;
    padding: 30px;
}

.nav-bar-left ul li {
    list-style-type: none;
    margin-left: 50px;
}

.nav-bar-left ul li a {
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-size: 1.6rem;
    color: color(accent);
    border: 3px solid transparent;
    padding: 20px;

    &:hover {
        transition: all 1s ease-in-out;
        border: 3px solid color(accent);
    }

    &:active {
        transition: all 1s ease-in-out;
        
    }
}

// Start Query:

@media screen and (max-width: 750px) {
    .nav-bar-left ul {
        transition: all 1s ease-in-out;
        display: none;
    }

    #logo img {
        transition: all 1s ease-in-out;
        width: 3rem;
        margin-left: 90%;
        justify-content: flex-end;
    }
}